@import "../../Assets/VarStyle.scss";

*{box-sizing: border-box;}

form{
    @include mainContainer();
    @include flexCenter();
}

.signUp{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin-top: 30px;
}

.nameInput{
    @include primaryInput();
}

.textInput{
    @include primaryInput();
}

.checkbox{
    justify-content: flex-start;
    margin: 0 5px;
}

label{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3px;
}
span{
    font-size: small;
    display: block;
}

a{
    margin: 0px 20px 0px 20px;
    color: $secondaryBackground;
    font-size: 12px;
    margin-bottom: 30px;

}

.hrefContainer{
    @include flexCenter();
    flex-direction: row;
}