@import "../../Assets/VarStyle.scss";

* {
    box-sizing: border-box;
}

.presentationBlock {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: $primaryColor;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px 0;
    width: 400px;
    max-width: 97vw;
    background-color: $mainGrey;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .workoutImg {
        border-radius: 10px;
        width: 200px;
        height: auto;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        align-self: center;
    }
}

.descriptionContainer {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 1px;
    flex-wrap: wrap;
    height: auto;
    min-width: 200;
    padding: 5px;
    .workoutName {
        margin: 0px 0px 2px;
        color: $primaryColor;
        font-size: 14px;
        text-shadow: 1px 1px 1px $mainBlack;

    }
    .description {
        color: rgb(227, 227, 227);
        font-size: 14px;
        text-shadow: 1px 1px 1px $mainBlack;

    }
}

.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start {
    text-decoration: none;
    @include smallRoundBtn();
    background-color: $mainGrey;
    color: $brightOrange;
    text-shadow: 1px 1px 1px black;
    padding: 1px 4px;
    margin: 2px 5px 1px;
    font-size: 14px;
}

.view {
    text-decoration: none;
    @include smallRoundBtn();
    color: $primaryColor;
    background-color: $mainGrey;
    padding: 1px 4px;
    margin: 2px 5px 1px;
    text-shadow: 1px 1px 1px black;
    font-size: 14px;
}
