@import "../../Assets/VarStyle.scss";

*{box-sizing: border-box;}

.presentationBlock{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: $primaryColor;
    text-shadow: 1px 1px 2px #000000;
    display: flex; 
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 2px 10px;
    max-width: 400px;
    width:fit-content;
    background-color: $mainOrange;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    .workoutImg{
        border-radius: 10px;
        width: 200px;
        height: auto;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        align-self: center;   
     }
}


.descriptionContainer{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    display: flex; 
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin:1px;
    flex-wrap: wrap;
    height: auto;
    min-width: 200;
    padding: 2px 4px 2px;
    .workoutName{
        margin: 0px 0px 2px;
    }
    .description{
        font-size: small;
    }
} 



.buttonsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.start{
    @include smallRoundBtn();
    background-color: $mainOrange ;
    color: $primaryColor;
    text-shadow: 1px 1px 1px black;
}

.view{
    @include smallRoundBtn();
    color: $mainOrange;
    background-color: $primaryColor;
    text-shadow: 1px 1px 1px black;
}
