$primaryColor:white;
$primaryBackground:rgb(24,118,211);
$secondaryBackground:rgb(15, 98, 182);

@mixin flexCenter {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
};

@mixin primaryBtn {
    color: $primaryColor;
    background-color: $primaryBackground;
    border-radius: 3px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    &:hover{
        background-color: $secondaryBackground;
        cursor: pointer;
    };
} ;

@mixin smallRoundBtn{
    border: 1.0px solid black;
    font-size: 10px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    &:hover{
        cursor: pointer;
    };
}
@mixin primaryInput {
    border: 1px solid black;
    width: 250px;
    border-radius: 2px;
    padding: 12px 20px;
    margin: 8px 0;
} ;

