@import "../../Assets/VarStyle.scss";

* {box-sizing: border-box;}

.loginForm {
    @include mainContainer();
    @include flexCenter();
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin: 30px 0 40px;

    .textInput {
        @include primaryInput();
    }

    label {
        justify-content: center;
        margin: 10px 0 15px;
    }

    a {
        margin: 0px 20px 0px 20px;
        color: $secondaryBackground;
        font-size: 12px;
    }

    .hrefContainer {
        @include flexCenter();
        flex-direction: row;
    }
}
