@import "../../Assets/VarStyle.scss";

* {
    box-sizing: border-box;
}

.loginForm {
    @include mainContainer();
    @include flexCenter();
    background-color: lightgray;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: auto;
    margin: 30px 0 40px;

    .loginHeader {
        @include mainHeader();
        margin: 30px;
        color: $brightOrange;
        text-shadow: 1px 1px 2px #000000;
    }

    .textInput {
        @include primaryInput();
    }

    label {
        justify-content: center;
        margin: 10px 0 15px;
        color: $mainOrange;
    }

    a {
        text-decoration: none;
        margin: 0px 20px 0px 20px;
        color: $mainOrange;
        font-size: 12px;
    }

    .hrefContainer {
        @include flexCenter();
        flex-direction: row;
    }
}
