*{box-sizing: border-box;}

footer{
    margin-top: auto;
    height: 5vh;
    width: 100%;
    background-color: #333333;
    align-content: center;
    position: absolute;
    bottom: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: auto;
    
.copyrightP{
    color: #fff;
    font-size: 8px;
    padding-bottom: 3px;
}
.copyrightA{
    font-size: 8px;
    color: #fff;
}

}
