footer{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333;
    align-content: center;
    bottom: 0%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
    
.copyrightP{
    position: absolute;
    color: #fff;
    font-size: 8px;
    padding-bottom: 3px;
}
.copyrightA{
    font-size: 8px;
    color: #fff;
}

